openapi: '3.0.2'
info:
  title: go-honeygain
  version: '1.0'
servers:
  - url: https://dashboard.honeygain.com/api/v1




components:
  schemas:
    Auth:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
paths:
  /referrals:
    get:
      description:  Fetches information about the user's referrals
      responses:
        '200':
          description: OK
  /transactions:
    get:
      description: Fetches information about the user's transactions
      responses:
        '200':
          description: OK
  # /devices/{deviceID}/titles:
  #   put:
  #     description: Change a device's name as recognized by Honeygain
  #     parameters:
  #       - name: deviceId
  #         in: path
  #         description: 'The device that needs to be fetched'
  #         required: true
  #         schema:
  #           type: string
  #     responses:
  #       '200':
  #         description: OK
  /devices/{deviceId}:
    parameters:
      - name: deviceId
        in: path
        description: 'The device that needs to be fetched'
        required: true
        schema:
          type: string
    patch:
      description: Restores a device from Removed Devices
      responses:
        '200':
          description: OK
    delete:
      description: Deletes a device (ie. move it into Removed Devices)
      responses:
        '200':
          description: OK

  /dashboards/traffic_stats:
    get:
      description: fetches information about traffic
      responses:
        '200':
          description: OK
  /users/balances:
    get:
      description:  fetches information about the current user's balances
      responses:
        '200':
          description: OK


  /users/tos:
    get:
      description: fetch information about current user's terms of service status
      responses:
        '200':
          description: OK

  /users/tokens:
    post:
      summary: Requests an authorization token
      requestBody:
        description: Requests an authorization token used in the header from Honeygain
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: OK
          

  /users/me:
    get:
      description: fetch information about the currenet users
      responses:
        '200':
          description: OK

      
  /users/passwords:
    put:
      description: Changes the password of the current user
      responses:
        '200':
          description: OK
